body, html {
  height: 100%;
  background: linear-gradient(to right, #E3F2E1, #D7E8FB);
}

.App {
  margin-top: 10px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.header-title {
  font-family: 'Arial', sans-serif;
  font-size: 5vm; 
  color: #333333; 
  margin: 0;
  padding: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}

.canvasContainer {
  flex: 0;
}

.canvasStyle {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #cccccc; 
  margin: 0 auto;
  max-width: calc(80vw - 60px);
  max-height: calc(80vw - 60px);;
}

.tools {
  display: flex;
  justify-content: center;
}

.left-tools {
  width: 70px
}

.right-tools {
  width: 70px;
}

.size-adjuster {
  writing-mode: vertical-lr; 
  direction: rtl;
  width: 20px;
  height: 100px;
  padding: 0;
  margin: 10px;
  cursor: pointer;
}

.color-picker {
  height: 27px;
  width: 57px;
}

.keyword-input {
  font-size: 16px;
  padding: 10px 15px;
  border: 2px solid #cccccc; 
  border-radius: 25px;
  outline: none; 
  width: 525px; 
  max-width: calc(80vw - 85px);
  max-height: calc(80vw - 85px);
  margin: 20px auto; 
  display: block;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.2s; 
}

.keyword-input:focus {
  border-color: #a4d4ae;
}

.tool-button {
  margin-bottom: 10px;
  padding: 3px;
  width: 52px;
  cursor: pointer;
  font-size: 14px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.generate-btn {
  font-size: 18px;
  padding: 15px 30px;
  background-color: #5c7cfa; 
  border: none;
  border-radius: 25px; 
  color: white;
  cursor: pointer;
  display: block;
  margin: 10px auto; 
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.generate-btn:hover {
  background-color: #4a6fda; 
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.generate-btn:active {
  background-color: #4059ad;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MODALS */
.gen-modal {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9); 
  z-index: 10; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  text-align: center;
}

.fa-spin {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.back-button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #5c7cfa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #4a6fda;
}

.img-modal {
  flex: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  justify-content: center;
}

.img-modal div {
  text-align: center;
  margin-bottom: 20px;
}

.img-modal img {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #cccccc; 
  margin: 0 auto;
  height: 670px;
  width: 670px;
  max-width: 80vw;
  max-height: 80vw;
}
